// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

@import "_react-tags";

@import "util";

.selectable.card {
  transition:box-shadow 0.3s, transform 0.3s;
}
.selectable.card:hover {
  box-shadow:0 6px 14px rgba(0, 0, 0, 0.24);
  transform:translate(0, -2px);
}